 <html>
  <body>
    <header>
      <h1 class="titre"> Eliott </h1>
      <ul>
        <li><%=link_to("Bio", bio_path()) %></li>
        <li><%=link_to("Work", work_path()) %></li>
        <li><%=link_to("Contact", contact_path()) %></li>
      </ul>
    </header>
    <main>
      <h1 class="titremain"> Salut, je m'appelle Eliott et je suis en ecole d'ingenieur.</h1>
      <%=link_to("View my work", work_path()) %>
    </main>
    <footer>
      <ul>
        <li><a href="https://www.github.com"> <%= image_tag("github-logo.svg", :size => '30x30' )%> </a></li>
        <li><a href="https://linkedin.com"> <%= image_tag("linkedin-logo.svg", :size => '30x30') %> </a></li>
        <li><a href="https://twitter.com"> <%= image_tag("twitter-logo-silhouette.svg", :size => '30x30') %> </a></li>
      </ul>
      <h6> © Eliott 2018 </h6>
    </footer>
  </body>
</html>